.label::before{
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    width: 20px;
    background: #8614BC;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    
}