.course_re{
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #272829;
}
.course_re:first-child{
    padding-bottom: 20px;
    padding-top: 0px;
}
.course_ab{
    position: absolute;
    top: 80%;
    left:20%; 
    display: none;
    transition: all 0.5s ease-in-out;
}
.course_ab::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-top: 1px solid #272829;
    border-left: 1px solid #272829;
    transform: rotate(45deg);
    top: -10px;
    
    left: 40%;
}
.course_re:hover .course_ab{
    display: block;
    transition: display 0.5s ease-in-out;

}